#register {
    background: url("../../assets/background.jpg");
    background-size: cover;
    background-position: center;

    #otp {
        * {
            height: 50px;
            margin-bottom: 20px;
        }
    }

    #text-area {
        resize: none;
    }
}
